<!DOCTYPE html>
<html ng-app="SKU">
	<head lang="en">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

	<title>Forsythe SKU services</title>
	<style type='text/css'>
		body {
			background-color: #CCC;
		}
		#content {
			background-color: #FFF;
			border-radius: 5px;
		}
		#content .main {
			padding: 20px;
		}
		#content .sidebar {
			padding: 10px;
		}
		#content p {
			line-height: 30px;
		}
	</style>
</head>

<body ng-controller='SKUCtrl'>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">

				<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>

				<!-- Be sure to leave the brand out there if you want it shown -->
				<a class="brand" href="#">[LOGO]</a>

				<!-- Everything you want hidden at 940px or less, place within here -->
				<div class="nav-collapse collapse">
					<!-- .nav, .navbar-search, .navbar-form, etc -->
					<ul class="nav">
						<li class="active"><a href="#"> <i class="icon-home icon-white"></i> Home</a></li>
						<li><a href="#i"><i class="icon-shopping-cart icon-white"></i> Order</a></li>
					</ul>

					<ul class="nav pull-right">
						<li>
							<form class="navbar-form ">
								<div class="input-prepend navbar-form">
									<span class="add-on"><i class="icon-search"></i></span>
									<input ng-model="filter" id="filter" type="text" placeholder="Keyword Search">
								</div>
							</form>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div id='content' class='row-fluid'>
		<div class='span9 main'>
			<h3>Forsythe SKUs</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>SKU</th>
						<th>Service Brief</th>
						<th>Order</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat='sku in skus | filter:filter '>
						<td>{{sku.sku}}</td>
						<td><a href="/add/{{sku.sku}}">{{sku.name}}</a></td>
						<td><i class="icon-ok"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class='span3 sidebar'>
			<h3>Support</h3>
			<ul class="nav nav-tabs nav-stacked">
				<li><a href='#'>Fort</a></li>
				<li><a href='#'>Salesforce</a></li>
				<li><a href='#'>Oracle</a></li>
			</ul>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>
